	<footer class="footer">
        <div class="container centerize">
            <p> Chang Liu &copy Copyright 2015</p>
            <a href="https://www.facebook.com/chang.liu.50767"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="https://instagram.com/lucia_2010_3/"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="ca.linkedin.com/in/changliulucia"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://twitter.com/liu_chang2010"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
    </footer>

  </body>
</html>
