	<footer class="footer">
        <div class="container centerize">
            <p> Chang Liu &copy Copyright 2015</p>
            <div class="footerIcons">
                <a href="https://www.facebook.com/chang.liu.50767"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="https://instagram.com/lucia_2010_3/"><i class="fa fa-instagram fa-2x"></i></a>
                <a href="https://ca.linkedin.com/in/changliulucia"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://twitter.com/liu_chang2010"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="mailto:liu_chang2010@hotmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href="https://geo.itunes.apple.com/us/podcast/lucias-music-space/id1214581936?mt=2"><i class="fa fa-podcast fa-2x"></i></a>
            </div>
        </div>
    </footer>

  </body>
</html>
