<!-- header, navbar for all pages -->
<!-- Author: Chang Liu -->
<!-- Web site Name: Portfolio -->
<!-- Description: the web site for my portfolio -->
<!-- Modified on Nov. 2015: Added a business contact list part which can be viewed & by admin user -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">  
  <!-- Scale for device responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>

<body>
<!-- navbar -->
<div class="container">  
  <nav class="navbar navbar-inverse navbar-collapse navbar-transparent" role="navigation">
    <ul class="nav navbar-nav">
      <% if (title == "Home") { %>
      <li class="active">
        <% } else { %>
        <li>
        <% } %>
        <a href="/">Home</a></li>
      <% if (title == "About") { %>
      <li class="active">
        <% } else { %>
        <li>
        <% } %>
        <a href="/about">About</a></li>
      <% if (title == "Projects") { %>
      <li class="active">
        <% } else { %>
        <li>
        <% } %>
        <a href="/projects">Projects</a></li>
      <% if (title == "Services") { %>
      <li class="active">
        <% } else { %>
        <li>
        <% } %>
        <a href="/services">Services</a></li>
      <% if (title == "Contact Me") { %>
      <li class="active">
        <% } else { %>
        <li>
        <% } %>
        <a href="/contact">Contact</a></li>
      <!-- Login / Logout options based on login status -->
      <% if (displayName) { %>
            <% if (title == "Business Contact") { %>
              <li class="active">
                <% } else { %>
                <li>
                <% } %>
                <a href="/businesscontacts">Hello, 
              <%= displayName %></a>
            </li> 
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
            <% if (title == "Login") { %>
              <li class="active">
                <% } else { %>
                <li>
                <% } %>
                <a href="/login">Login</a></li>
            <% } %>
      <!-- Todo List -->
      <% if (title == "Todo List") { %>
      <li class="active">
        <% } else { %>
        <li>
        <% } %>
        <a href="/todos">Todo List</a></li>
    </ul>
  </nav>
</div>