<%- include partials/header.ejs %>

<h3 class="centerize">I do...</h3>

<p class="help-block"></p>

<div class="container-fluid mainCont">
	<div class="row centerize">
        <div class="col-lg-4">
          <img class="img-circle" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/ef69ce3e-2bef-4000-8a60-b8fd2a41b67c_zps2ubgprg7.png" alt="Generic placeholder image" width="340" height="340">
          <h2>Web Design</h2>          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/DSC00483_zpsioyhc19d.jpg" alt="Generic placeholder image" width="340" height="340">
          <h2>Photography</h2>          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/Screen%20Shot%202015-10-18%20at%2017.55.49_zpsejlvd6n4.png" alt="Generic placeholder image" width="340" height="340">
          <h2>Henna Tattoo</h2> 
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<% include partials/boot.ejs %>
<%- include partials/footer.ejs %>