<% include partials/header.ejs %>	
	<!-- Registration form  -->
	<main class="container centerize">
	<!-- Display flash messages  -->
	<% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
		<h1>User Registration</h1>
		<div class="row">
			<form method="post">
				<fieldset class="form-group col-md-4 col-md-offset-4">
					<label for="email">Email: *</label>
					<input name="email" type="email" class="form-control" required autofocus />
				</fieldset>
				<fieldset class="form-group col-md-4 col-md-offset-4">
					<label for="username">Username: *</label>
					<input name="username" type="text" class="form-control" required />
				</fieldset>
				<fieldset class="form-group col-md-4 col-md-offset-4">
					<label for="password">Password: *</label>
					<input name="password" type="password" class="form-control" required />
				</fieldset>
				<fieldset class="form-group col-md-4 col-md-offset-4">
					<label for="displayName">Display Name: *</label>
					<input name="displayName" type="text" class="form-control" required />
				</fieldset>
				<fieldset class="form-group col-md-4 col-md-offset-4">
					<input type="submit" class="btn btn-success" value="Submit"/>
				</fieldset>
			</form
		</div>
	</main>
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>
