body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;*/
  background:center no-repeat fixed url('../images/blue_bg.jpg');
}

a {
  color: #00B7FF;
}

/*Center navbar*/
.navbar-inverse {
  background: rgba(21, 55, 92, .8);
  border: none;
}
.navbar-collapse {
  text-align: center; 
  /*display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;*/
}


@media screen and (min-width: 768px){
  .navbar-nav{
    padding-top: 20px;
  }
}
.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
}

/*change navbar font color*/
.navbar-inverse .navbar-nav>li>a { 
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  /*font-family: 'Julius Sans One', sans-serif;*/
}
.navbar-inverse .navbar-nav>li>a:hover { 
  color: #4f7192;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}


/*Transparent navbar*/
.navbar-transparent {
    background:transparent;
    background-image: none;
    border-color: transparent;
}

html,body {
  height:100%;
  
  background-size: cover;
  color:#FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

/*Center main message*/
/*.centered {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
.paddedBlocks>div {
  padding-bottom:30px;
}

.absBot {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.scrollDown {
  color: #fff;
}
.scrollDown:hover {
  color: #fff;
  font-size: 70px;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
}

#intro {
  padding-top: 23vh;
  height: 100vh;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
   /*font-family: 'Sacramento', cursive; */
  /*font-family: 'Dancing Script', cursive;*/
}
#intro .sub{
  font-size: 20px;
}

footer {
  /*position: fixed;*/
  bottom: 0px;
  padding-bottom: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.footerIcons a{
  color: #fff;
  padding: 10px;
}
.footerIcons a:hover{
  /*color: black;*/
  color:#5e82a4;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/*button{
  margin-left:47%;
  margin-right:53%;
  position: relative;
  float: none;
  text-align: center;
  margin: 0 auto;
}*/

/* pull center*/
.centerize{
  text-align: center;
  margin: auto;
  float: none;
  margin: 0 auto;
}

/*restyle table*/
.panel {
  background-color: transparent;
}

/*restyle active*/
.navbar-inverse .navbar-nav .active>a, 
.navbar-inverse .navbar-nav .active>a:focus, 
.navbar-inverse .navbar-nav .active>a:hover {
  /*color: black;*/
  color: #5e82a4;
  background-color: transparent !important;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.open>a {
  -webkit-box-shadow: none;
  background-image: none;
}

/* main contents */
.mainCont {
  padding: 30px 0px 80px;
}

/*Styling Todo List - Completed*/
/* custom css goes here */

.completed-true {
  text-decoration: line-through;
  color: grey;
}

/*#searchTodo, #newTodo {
    display: block;
    width: 30%;
    border: 2px solid grey;
    padding: 5px;
    margin: 5px 0 5px 0;
}*/

#Portfolio {
  background: rgba(255, 255, 255, 0.8);
  color: #1d1d1d;
}
.featurette {
  padding: 40px 0px;
}
.featurette-image:hover {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.featurette img {
  border-radius: 5px;
}
.text-muted {
  font-size: 60%;
}
.featureIcons {
  padding: 10px 0px;
  font-size: 38px;
}
.featureIcons i {
  padding: 2px;
}

#About {
  background: rgba(58, 86, 118, 0.88);
  color: #fff;
}

.spin {
  -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/*timeline*/
.timeline-heading {
  background: #FFF;
  color: #385576;
  text-align: center;
}
.timeline-heading i {
  font-size: 50px;
  padding: 30px;
  margin: 0 auto;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #FFF !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding: 5px 20px;
    background-color:rgba(255, 255, 255, 0.3);
}
.timeline-footer > a{
  color: #cecece;
    cursor: pointer;
    text-decoration: none;
}
.timeline-footer > a:hover{
  color: #fff;
}
.tooltip{

    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    
}
.tooltip.in{
    /*opacity:0;
    filter:alpha(opacity=80);*/
    
}
.tooltip.top{
    margin-top:-2px;
}
.tooltip.right{
    margin-left:2px;
}
.tooltip.bottom{
    margin-top:2px;
}
.tooltip.left{
    margin-left:-2px;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#313131;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}
.timeline > li.timeline-inverted{
  float: right; 
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    
.timeline > li.timeline-inverted{
  float: left; 
  clear: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline > li.timeline-inverted > .timeline-badge{
  left: 28px;
}
}


footer {
  font-size: 13px;
}
