body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

a {
  color: #00B7FF;
}

/*Center navbar*/
.navbar-collapse {
  text-align: center; 
  /*display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;*/
}

.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
  padding-top: 50px;
}

/*change navbar font color*/
.navbar-inverse .navbar-nav>li>a { 
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  /*font-family: 'Julius Sans One', sans-serif;*/
}
.navbar-inverse .navbar-nav>li>a:hover { 
  color: #080808;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}


/*Transparent navbar*/
.navbar-transparent {
    background:transparent;
    background-image: none;
    border-color: transparent;
}

html,body {
  height:100%;
  background:center no-repeat fixed url('http://i359.photobucket.com/albums/oo33/Chang_Liu/DSC00352-2_zps1bdilprm.jpg');
  background-size: cover;
  color:#FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

/*Center main message*/
.centered {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#intro {
  font-size: 66px;
  font-family: 'Sacramento', cursive;
  /*font-family: 'Dancing Script', cursive;*/
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}
.footerIcons a{
  color: #fff;
  padding: 10px;
}
.footerIcons a:hover{
  color: black;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/*button{
  margin-left:47%;
  margin-right:53%;
  position: relative;
  float: none;
  text-align: center;
  margin: 0 auto;
}*/

/* pull center*/
.centerize{
  text-align: center;
  margin: auto;
  float: none;
  margin: 0 auto;
}

/*restyle table*/
.panel {
  background-color: transparent;
}

/*restyle active*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: black;
  background-color: transparent !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
  -webkit-box-shadow: none;
  background-image: none;
}

/*Styling Todo List - Completed*/
/* custom css goes here */

.completed-true {
  text-decoration: line-through;
  color: grey;
}

/*#searchTodo, #newTodo {
    display: block;
    width: 30%;
    border: 2px solid grey;
    padding: 5px;
    margin: 5px 0 5px 0;
}*/
